@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
  --dark-black: #292524;
  --darkest-grey: #44403c;
  --darker-grey: #57534e;
  --dark-grey: #78716c;
  --medium-grey: #a8a29e;
  --light-grey: #e2e8f0;
  --off-white: #fafaf9;
  --dark-blue: #3b82f6;
  --medium-blue: #60a5fa;
  --light-blue: #93c5fd;
  --lighter-blue: #bfdbfe;
  --lightest-blue: #dbeafe;
  --white-color: white;
  --bg-color: #eff6ff;
  --green-color: #16a34a;
  --red-color: #dc2626;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.text-center {
  text-align: center;
}
.text-black {
  color: var(--dark-black);
}
.text-grey {
  color: var(--darker-grey);
}

.nav-standard {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--white-color);
}
.ranger-ui {
  color: var(--medium-blue);
}
.social-links {
  color: var(--medium-blue);
}
.nav-standard-list-item:hover {
  background-color: var(--off-white);
}

/* home page */
img {
  width: 100%;
}
.home-page {
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
}
.home-page-title {
  font-size: 3rem;
}
.get-started-text {
  align-items: center;
}
.intro-text {
  font-size: 1.5rem;
  text-align: justify;
}
.explore-btn {
  height: 4rem;
  width: 12rem;
  font-size: 1.5rem;
  color: var(--dark-black);
}

/* category page */
.category-page {
  margin-top: 4rem;
  height: 100%;
  min-height: 100vh;
  gap: 2rem;
  background-color: var(--bg-color);
}
.card-row {
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.category-page-title {
  padding-top: 2rem;
  color: var(--darkest-grey);
}

/* rules page */

.rules-page {
  padding-top: 2rem;
  margin-top: 4rem;
  background-color: var(--bg-color);
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  gap: 1rem;
}
.rules-block {
  width: 44rem;
  height: 16rem;
  padding: 2rem;
  border-radius: 4px;
  background-color: var(--white-color);
}
.instruction {
  color: var(--dark-blue);
}
.rules-btn {
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.instruction-list-item {
  margin-bottom: 10px;
}
/* question page */
.question-container {
  background-color: var(--white-color);
  padding: 2rem;
  margin-bottom: 1rem;
}
.question {
  margin-bottom: 2rem;
  padding: 10px;
}
.question-no {
  margin-right: auto;
}
.question-text {
  text-align: justify;
}
.option-list {
  padding-left: 0;
}
.option-list-item {
  margin-bottom: 10px;
}
.option-btn,
.option-btn-check {
  border: 2px solid var(--medium-grey);
  background-color: var(--off-white);
  border-radius: 2rem;
  width: 40rem;
}
.option-btn-check:hover {
  box-shadow: none;
  cursor: no-drop;
}

.correct-answer {
  background-color: var(--green-color);
  border: 2px solid var(--green-color);
  color: var(--off-white);
}
.wrong-answer {
  background-color: var(--red-color);
  border: 2px solid var(--red-color);
  color: var(--off-white);
}
.congrats-text {
  color: var(--green-color);
}
/* submit */
.submit-part {
  margin: 1rem 0;
  justify-content: center;
}
/* media queries */
@media only screen and (max-width: 500px) {
  html {
    font-size: 62.5%;
  }
}
